body, h2, p {
  margin: 0;
}
* {
  box-sizing: border-box;
}

input {
  padding: 0;
  border: 0;
  background:none;
  outline: none;
}
button {
  padding: 0;
  border: 0;
  outline: none;
  background: none;
}